// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

.online-temp-row {
  &:hover {
    background-color: #5a5c69;
    color: #FFF;
  }
}

.rotate-arrow {
  &--high-plus {
    transform: rotate(15deg);
  }
  &--medium-plus {
    transform: rotate(45deg);
  }
  &--same {
    transform: rotate(90deg);
  }
  &--medium-minus {
    transform: rotate(135deg);
  }
  &--high-minus {
    transform: rotate(160deg);
  }
}
